/*  Ricochet Robots JS Ver.
    ricostyle.css
    By: Yeung Man Yin Michael
    31/07/2020  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: TW Cen MT, Verdana, sans-serif;
  position: flex;
  background-color: #E0E0E0;
}

.rico-container{
  position: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 10px;
}

.rico-item-1{
  float: left;
  margin-left: 45px;
  margin-right: 10px;
  font-size: 40px;
  height: 470px;

}

.rico-item-2{
  width: 360px;
  font-size: 27px;
  float: left;
  height: auto;
  margin-left: 40px;
}

.rico-item-3{
  padding-top: 20px;
  margin-left: 20px;
  width: 270px;
  font-size: 40px;
  float: left;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  height: 470px;
}

.rico-item-4{
  width: 625px;
  height: 70px;
  float: left;
  margin-left: 45px;
  margin-right: 185px;
  padding-top: 14px;
  font-size: 13px;
}

.rico-item-5{
  width: 300px;
  height: 50px;
  float: left;
  padding-top: 14px;
  font-size: 15px;
  margin-left: 45px;
}

button{
  font-size: 20px;
}

.scoreheader{
  font-size: 20px;
  text-align: center;
}

.scoreboard{
  position: flex;
  flex-direction: column;
  width: 270px;
}

.player-row{
  float: left;
  margin-top: 0;
  width: 270px;
  height: 50px;
  position: flex;
  flex-direction: row;
}

.player-row-item{
  float: left;
  width: 90px;
  height: 50px;
  text-align: center;
  font-size: 28px;
}

.scorebutton{
  width: 45px;
  height: 45px;
}

.player-name{
  float: left;
  width: 270px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.v-num{
  float: left;
  position: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-bottom: 45px;
}

.v-num-row{
  float: left;
  position: flex;
  flex-direction: row;
}

.rico-item-7{
  width: 700px;
  font-size: 20px;
  float: left;
  height: auto;
  margin-left: 40px;
}


@media only screen and (max-width: 699px) {
  .rico-item-4{
    width: 80vw;
    height: auto;
    float: left;
    padding-top: 14px;
    font-size: 15px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .rico-item-7{
    width: 80vw;
    height: auto;
    float: left;
    padding-top: 14px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
